<div class="p-4 shadow-lg bg-lightCardBg dark:bg-darkCardBg">
  <div class="flex justify-between items-center">
    <ul class="hidden sm:flex">
      <app-navigation direction="row"></app-navigation>
    </ul>

    <button
      (click)="toggleMenu()"
      class="text-2xl sm:hidden text-lightText dark:text-darkText"
    >
      &#9776;
    </button>

    <div>
      <button
        (click)="toggleTheme()"
        class="flex align-middle transition-transform hover:scale-125 text-lightText dark:text-darkText"
      >
        <span class="material-icons">{{
          isDarkMode ? "light_mode" : "dark_mode"
        }}</span>
      </button>
    </div>
  </div>

  <div [class.hidden]="!isMenuOpen" class="sm:hidden">
    <app-navigation direction="column"></app-navigation>
  </div>
</div>
