<div
  class="px-4 pt-4 pb-8 shadow-lg mobile:rounded-lg mobile:my-1 mobile:mx-2 sm:my-4 sm:mx-5 bg-lightCardBg dark:bg-darkCardBg"
>
  <div class="w-full">
    <app-shopping-edit
      [editedIngredient]="editedIngredient"
      (addIngredient)="onUpdateOrAddIngredient($event)"
      (clearEditedIngredient)="onClearEditedIngredient()"
    ></app-shopping-edit>

    <hr class="mt-4 border-lightBorder dark:border-darkBorder" />

    <ul class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4">
      <li class="mt-2" *ngFor="let ingredient of ingredients; let i = index">
        <p
          class="cursor-pointer hover:text-lightActive"
          (click)="onEditIngredient(ingredient)"
        >
          {{ ingredient.ingredientName }}
          (<span class="text-lightHeading dark:text-darkHeading">{{
            ingredient.amount
          }}</span
          >)
        </p>

        <hr class="mt-2 border-lightBorder dark:border-darkBorder" />
      </li>

      <li class="mt-8" *ngIf="!ingredients.length">
        <p class="font-semibold text-lightHeading dark:text-darkHeading">
          No ingredients in the shopping list
        </p>
      </li>
    </ul>
  </div>
</div>
