<div
  class="m-5 px-4 pt-4 pb-8 rounded-lg shadow-lg bg-lightCardBg dark:bg-darkCardBg"
>
  <div class="flex flex-col items-center">
    <h1
      class="text-center text-2xl md:text-3xl lg:text-4xl font-semibold text-lightHeading dark:text-darkHeading"
    >
      Wellcome to the Recipe App
    </h1>

    <div
      class="mt-8 w-full md:w-2/3 text-xl md:text-2xl text-center text-justifyxxx"
    >
      <p>Embark on a culinary journey like never before!</p>
      <p class="mt-2">
        Discover, create, and manage your favorite recipes and ingredients with
        ease.
      </p>
      <p class="mt-2">
        Build your centralized shopping list to streamline your kitchen
        adventures.
      </p>
    </div>
  </div>
</div>
